<div class="">
  <div class="">
    <img 
      class="" 
      src="/assets/images/fabiola.png" 
      alt="Avatar">
    <h1 class="">Fabiola González</h1>
    <p class="">Associate Developer</p>
  </div>
  <div class="">      
    <p class=""> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    {{!-- <Button/> --}}
    <div class="">
      <div class="">
        <img  src="/assets/images/LinkedinIcon.svg" alt="linkedin">
      </div>
      <div class="">
        <img src="/assets/images/TwitterIcon.svg" alt="twitter">
      </div>
      <div class="">
        <img src="/assets/images/FacebookIcon.svg" alt="facebook"> 
      </div>
    </div>
  </div>
</div>


