{{page-title "Login"}}
<body class="h-screen w-screen bg-gray-100 flex">
  <section class="container text-gray-800 flex justify-center items-center px-5 py-12 lg:px-20">
    <div
      class="flex flex-col w-full p-10 max-w-md mx-auto my-6 transition duration-500 ease-in-out transform bg-white border rounded-lg"
    >
      <div class="mb-4">
        <h1 class="text-2xl font-bold">Sign Up</h1>
        <h3 class="text-sm text-gray-500">
          Don't have an account? 
          <a href="" class="text-blue-600 hover:text-blue-700">Sign In</a>
        </h3>
      </div>
      <div class="mb-4">
        <label for="name" class="text-sm leading-7 text-gray-800">
          Company's name
        </label>
        <input 
          type="name" id="" name="name" placeholder="Example Company"
          class="w-full px-4 py-2 text-base text-gray-800 transition duration-300 ease-in-out transform border border-gray-200 rounded-lg hover:border-blue-600 focus:ring focus:outline-none"
        >
      </div>
      <div class="mb-4">
        <label for="email" class="text-sm leading-7 text-gray-800">
          Company's email
        </label>
        <input 
          type="name"  
          id="" 
          name="email" 
          placeholder="company.name@example.com"
          class="w-full px-4 py-2 text-base text-gray-800 transition duration-300 ease-in-out transform border border-gray-200 rounded-lg hover:border-blue-600 focus:ring focus:outline-none"
        >
      </div>
      <div class="mb-4">
        <label for="password" class="text-sm leading-7 text-gray-800">
          Password
        </label>
        <input 
          type="password" 
          id="" name="password" 
          placeholder="Xh34ghBG01v" 
          class="w-full px-4 py-2 text-base text-gray-800 transition duration-300 ease-in-out transform border border-gray-200 rounded-lg hover:border-blue-600 focus:ring focus:outline-none"
        >
      </div>
      <div class="flex flex-row">
        <img src="assets/images/Assitive Icon.svg" alt="img" class="w-8 mr-2">
        <p class="text-xs text-gray-800">
          Password must be 8 or more combined alphanumeric characters to make it secure.
        </p>
      </div>
      <div class="h-8"></div>
      <div class="inline-flex flex-wrap items-center justify-between ">
        <button
					type="button"
          class="w-full px-4 py-2 my-2 text-base font-medium text-white transition duration-500 disabled:opacity-30 ease-in-out transform bg-blue-600 hover:bg-blue-700 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2"
        >
          Log In
        </button>
      </div>
      <p class="mx-auto mt-3 text-xs text-blueGray-500">
        By clicking on "Log In" means that you agree with the
        <a 
          href=""  
          class="text-blue-600 hover:text-blue-700"
        >
          Terms & Conditions
        </a> and 
        <a 
          href="" 
          class="text-blue-600 hover:text-blue-700">
          Privacy Policies
        </a> 
        of Kaching.
      </p>
    </div>
  </section>
</body>